.display-3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.lead {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 100px;
    padding-right: 100px;
}

.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
}